body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f4f9ff;
  color: #222;
}

header {
  background: #0078ff;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(120deg, #0078ff, #00c6ff);
  color: white;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

button {
  background: white;
  color: #0078ff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #005ec4;
  color: white;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

footer {
  text-align: center;
  background: #6f00ff;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
